In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [11]:
# Wikipedia URL
url = "https://en.wikipedia.org/wiki/List_of_active_Indian_military_aircraft"

# Send a GET request with headers
headers = {"User-Agent": "Mozilla/5.0"}
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

# Find all tables on the page
tables = soup.find_all("table", class_="wikitable")

In [12]:
# Select the main table containing aircraft details
aircraft_table = tables[0]  

# Extract headers from the table
headers = [th.text.strip() for th in aircraft_table.find_all("th")]

data = []
for row in aircraft_table.find_all("tr")[1:]:  
    columns = row.find_all("td")
    row_data = [col.text.strip() for col in columns]
    
# Only add row if it has valid data
    if len(row_data) > 0:
        data.append(row_data)

In [13]:
# Create a Pandas DataFrame
df = pd.DataFrame(data, columns=headers[:len(data[0])])  # Ensure correct column mapping
print(df.head())

             Aircraft        Origin       Type  \
0     Dassault Rafale        France  Multirole
1                  EH         28[1]
2           HAL Tejas         India  Multirole
3  Conversion trainer  Mk.1 Trainer    4[4][5]
4           Multirole         Mk.1A

                                  Variant In service Notes
0                                      DH       8[1]
1                                    None       None  None
2                                    Mk.1   31[2][3]
3  Used for training; 14 more on order[6]       None  None
4     73 on order, 97 more approved[6][7]       None  None

In [9]:
# Save to CSV
df.to_csv("indian_military_aircraft.csv", index=False)